<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <title>AI Dashboard Ngân Hàng</title>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <style>

        body{
            font-family: Arial;
            margin:40px;
            background:#f5f5f5;
        }

        .card{
            background:white;
            padding:20px;
            margin-bottom:20px;
            border-radius:10px;
        }

    </style>

</head>

<body>

    <h1>Dashboard AI Doanh Thu Ngân Hàng</h1>

    <div class="card">

        <form method="POST" enctype="multipart/form-data">

            <input type="file" name="excel_file" required>

            <button type="submit">
                Phân tích AI
            </button>

        </form>

    </div>

    {% if predict %}

    <div class="card">
        <div class="card">
    <h2>Tổng quan ngân hàng</h2>

    <p><b>Tổng số khách hàng:</b> {{ tong_khach_hang }}</p>

    <p><b>Tổng số khoản vay:</b> {{ tong_khoan_vay }}</p>

    <p><b>Tổng chi tiêu thẻ:</b> {{ tong_chi_tieu_the }}</p>

    <p><b>Tổng người dùng app:</b> {{ tong_nguoi_dung_app }}</p>

    <p><b>Tổng số giao dịch:</b> {{ tong_giao_dich }}</p>
</div>
        <h2>Dự đoán doanh thu</h2>

        <h3>{{ predict }}</h3>

    </div>

    <div class="card">

        <h2>Nhận xét AI</h2>

        <p>{{ nhan_xet }}</p>

    </div>

    <div class="card">

        <canvas id="chart"></canvas>

    </div>

    <script>

        const months = JSON.parse('{{ months | tojson | safe }}');
        const revenues = JSON.parse('{{ revenues | tojson | safe }}');

        new Chart(
            document.getElementById('chart'),
            {
                type: 'line',

                data: {
                    labels: months,

                    datasets: [{
                        label: 'Doanh thu',
                        data: revenues,
                        borderWidth: 3
                    }]
                },

                options: {
                    responsive: true
                }
            }
        );

    </script>

    {% endif %}

</body>

</html>